*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/caches
/.idea/
.idea
.DS_Store
/build
/captures
.externalNativeBuild


# Built application files
*.apk
*.ap_
*.aab

# Java class files
*.class

# Log Files
*.log
